################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp_AutoMapper/.vs/ConsoleApp_AutoMapper/v16/Server/sqlite3
/ConsoleApp_AutoMapper/.vs/ConsoleApp_AutoMapper/v16
